<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shoppingList)" #shoppingList="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required
            #name="ngModel"
          >
          <div class="text-danger" *ngIf="!name.valid && name.touched">please enter a name</div>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            id="amount"
            class="form-control"
            ngModel
            required
            #amount="ngModel"
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
        <div class="text-danger" *ngIf="!amount.valid && amount.touched">please enter correct amount</div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingList.valid"
          >{{editMode ? 'Update' : 'Add'}}
          </button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
